.index-fine-section {
    background: url('/images/body7.png');
    background-size: cover;
    height: 90vh;
    position: relative;
   
    


}

.index-fine-section__content {
    padding: 60px 40px;
    font-weight: 400;
    position: absolute;
 
  



}

.index-fine-section__content--heading {
    font-family: Safira March Personal Use;
    font-size: 24px;
    color: #333;
    font-size: 16px;
    letter-spacing: 1.8px;
    line-height: 48px;
    /* 200% */

}


.index-fine-section__content--text {
    font-family: Work Sans;
    color: #747474;
    font-size: 16px;
    font-style: normal;
 font-size: 24px;
   
    /* line-height: normal; */
    letter-spacing: 1.2px;



line-height: 30px;

}

/* .text-responsive{
    font-size: calc(50% + 1vmin);
} */
.index-fine-section-shopbtn{
    background-color: #ECCAC2;

}

@media(max-width:992px){
  .index-fine-section__content{
        /* background-color: red; */
        padding: 3px;
        position: absolute;
        font-weight: bolder;
        bottom: 0;
        

        
        
    }
    .index-fine-section{
        position: relative;
        text-align: center;
        opacity: 0.7;
       
    }
    .index-fine-section__content--text{
line-height: 23px;


font-size: 15px;
    }
    .index-fine-section__content--heading{
        line-height: 24px;
        font-size: 15px;
    }
    .btn-shop-now{
        margin-top: 0px;
    }
}



.btn-shop-now{
    background-color: #ECCAC2;
    margin-bottom: 10px;

            color: #4B4B4B;
            padding: 5px 12px;
            border-radius: 10px;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            border: none;
            padding: 21px 63px;
            margin: 10px auto;
}
.btn-shop-dark{
    background-color: #767576;
    margin-bottom: 10px;

            color: #FFFFFF;
            padding: 5px 12px;
            border-radius: 10px;
            text-align: center;
            font-family: Work Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
            letter-spacing: 1.8px;
            text-transform: uppercase;
            border: none;
            padding: 21px 63px;
}



.banner-content{
    /* background-color: red; */
    padding: 30px 40px;
    background-color:#ECCAC2 ;
}

.header-celebrate{
    color: #545454;

    text-align: center;
    
    font-family: Safira March Personal Use;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 60px; /* 250% */
    letter-spacing: 1.8px;
}

.header-in_today{
    color: #767576;

    text-align: center;
    font-family: Work Sans;
    font-size: 16px;
    
    font-weight: 400;
    line-height: 30px; /* 187.5% */
    letter-spacing: 1.2px;
}

@media(max-width:1400px){
    .header-celebrate{
font-size:14px;
line-height: 30px; 
    }
    .header-in_today{
        font-size: 14px;
        line-height: 20px; 
    }
}