/* In your CSS file or <style> tag */
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

@import url('https://fonts.cdnfonts.com/css/safira-march-personal-use');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  
    
    
}



header{
    background-color: #E8BEAC;
    display: flex;
    justify-content: space-around;
    line-height: 36px;
   
    padding: 10px;
    flex-wrap: wrap;
    font-size: small;
   font-family:Work Sans,Safira March Personal Use;
    
}

.header p{
  top:10px;
  left:11px;
  top:10px;
  left:11px;
  font-weight: 500;
  letter-spacing: 2.4px;
  
}

.midSection{
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 1;
    padding: 1%;
    
    
}

.midSection select{
    border: none;
}
#steorras{
  top:88px;
  left: 797px;
}

.icons img{
    margin-right: 1rem;
    top:123px;
    height:25px;
    width:25px;
}

/* .midSection{
margin: auto;


} */



.body1{
    background-color: red;
    
}

.navbar{
    
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:auto 10%;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.8px;


    font-family:     Work Sans;
    
 

}
.containe{
    display: flex;
    position:relative;
    flex-wrap: nowrap;
    font-family: Safira March Personal Use;
    
}

.rectangle{
    background-color: #E8BEAC;
    width: 100%;
    text-align: center;
    top:84px;
   
    
}






.body6 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 35%;
    
  }

  .image {
    position: absolute;
   width: 100%;
   max-width: 100%;
   height: auto;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .image2{
    position: absolute;
    top: 0; 
    left: 20%;

    max-width: 30%;
    height: auto;
      

   
   
    z-index: 22;
  }
 


.body7{
    position: relative;
    margin:10rem auto 0rem auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-around;
    max-width: 100%;
    padding: 1%;

}
.body7 img{
    height: 100%;
}


.content{
    position: absolute;
    top: 0; 
    left: 60%;
    width: 50%;
    max-width: 30%;
    font-family:  March Personal Use;
    max-height: 100vh;
    font-weight: 400;
    font-size: 36px;
    letter-spacing: 2.7px;
      

   
   
    z-index: 22; 
  }


  .body8 {
    position: relative;
    margin-top: 10px;
    margin-bottom: 35%;
    
  }

   .image3 {
    position: absolute;
   width: 100%;
   max-width: 100%;
   height: auto;
    top: 0;
    left: 0;
    z-index: 1; 
  }

   .image4{
    position: absolute;
    top: 0; 
    right: 0%;
    max-width: 30%;
    height: auto;
    
      

   
   
    z-index: 22; 
  }

  .body9 {
    text-align:center ;
  }

  .body10{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    
  }
  .body10 img{
    height:100;
    width: 25%;

  }

  /* .body11{
   
  } */

 .gift img{
    width: 40%;
    margin:auto 10px;
  }


.gifts{
    width: 100%;
    display: flex;
    padding: auto 10%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
    padding: 3%;
  }

  .card{
    margin:auto 2%;
  }

  /* @media (max-width: 800px) {
    .gifts {
      flex-direction: column;
    }
  }
  */
.bottom{
    background-color: #E8BEAC;
    padding-top: 20px;
    width: 100%;
}

.contact{
    background-color: #9C9B9B;
    display: flex;
    flex-direction: row; 
    width: 100%;   
    color:white;
    padding:10%;
    align-items: center;
    justify-content: center;
}

.contact>div{
    
    margin: 10px 5%;
    display: block;
}

ul{
    justify-content: left;
}
li{
    margin-top: 10px;
    justify-content: left;
}

.footer{

    padding:5%;    
    background-color:#767676 ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



 @media (max-width: 678px) {
    .gifts,.midSection,.body7,.containe {
      flex-direction: column;
    }
    .midSection{
        align-items: center;
        
    }
     .icons img{
        margin:10px;

    }
    .containe img{
        width: 100%;
    }

   
  }

  @media (max-width:971px) {
    .body7{
        flex-direction: column;
        
        height: auto;
        width: 100%;
        
       
        
    }
   
    .content {
      position: relative;
      top: 100%; 
      left: 0%;
      width: 100%;
      max-width: 100%;
      text-align: center;
      max-height: 100vh;
      z-index: 22; 
      background-color: white;
      
        
    }
   
 
    
  }













