* {
    box-sizing: border-box;
    margin: 0 ;
    padding: 0;
}

.header {
    white-space: nowrap;
    padding: 5% auto;
    font-family: Roboto;

}

.inp-child{
position: absolute;
top:0;
right: 0;
border: none;

}
.inp-parent{
   position: relative; 
}

.icons {
    height: 24px;
    width: 24px;
}

.navbar {
    text-align: center;
}



.fs-header-item {
    font-size: 15px;
    color: #4D4D4D;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.3px;
}

.fs-banner-ad {

    color: #202020;
    font-family: Roboto;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.39px;


}





.banner-ad {
    background-color: #B9C2D94D;
    padding: 10px;
    justify-content: center;
    height: auto;

}

.banner-ad .row {
    white-space: nowrap;
}


@media (max-width:767px) {
    .header {
        text-align: center;
    }

    .header .row div {

        margin: 4px;
    }


}



.what-folks {
    color: #202020;

    font-family: Bebas Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.51px;
    text-transform: uppercase;
}












.signup-btn {
    border-radius: 10px;
    background: #B9C2D9;

    color: #202020;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.14px;
    padding: 5px 15px;
    border: none;


}

.discount {
    color: #D9C9B9;
    font-family: Bebas Neue;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.675px;
    text-transform: uppercase;
}

.percent {
    color: #D9C9B9;
    font-family: Bebas Neue;
    font-size: 72px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.limited {
    color: #D9C9B9;
    font-family: Roboto;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
   
    letter-spacing: -0.48px;
}

.parent{
position: relative;
display: flex;
            align-items: center;
            justify-content: center;
}
.child{
    position: absolute;
    text-align: left;
   
}

.bg-box{
background: rgba(120, 120, 120, 0.95);;
}

@media (max-width:768px){
    .expand-height-class{
        height: 60vh;
    }

}

@media(max-width:1024px){
    .discount{
font-size: 24px;
    }
    .percent{
font-size: 50px;
    }
    .limited{
       font-size: 24px; 
    }
}

.assembling-content{
    color: #202020;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
   
}



.assembling-header{
    color: #202020;
font-family: Bebas Neue;
max-width: 90%;
font-size: 20px;
font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: -0.39px;
text-transform: uppercase;
}

@media(max-width:388px){
    .assembling-header{
        font-size: 16px;
    }
}

.assembling-btn{
    color: #000;
font-family: Roboto;
padding:8px 10px;
border-radius: 10px;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 0.085px;
text-transform: uppercase;
border: none;
background-color: #FFFFFF;
}

.assembling-bg{
    background-color: #B9C2D94D;
}


.why-luxury{
    background: #D9C9B9;
}
.why-luxury-title{
   
    font-size: 30px;
    letter-spacing: -0.54px;
    text-transform: uppercase;
    /* font-weight: 400; */
    font-weight: bold;
    }


.why-luxury h4{
    color: #202020;
font-family: Bebas Neue;
/* font-size: 20px; */
font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: -0.36px;
text-transform: uppercase;

}




.why-luxury p{
    color: #202020;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}


@media(max-width:728px){
.luxury-center{
    text-align: center;
}
}


.zebra-section{
    background-color: #F3F3F3;
}

.zebra-section .content{
    background-color:   #EAEAEA;  
    text-align: center;
}

.zebra-section .content h4{
    color: #202020;
text-align: center;
font-family: Bebas Neue;
font-size: 26px;
font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: -0.39px;
text-transform: uppercase;
}
.zebra-section .content p{
    color: #202020;
text-align: center;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 150% */
letter-spacing: 0.32px;
}
.zebra-section h3{
    color: #202020;
font-family: Bebas Neue;
text-align: center;

font-style: normal;
font-weight: 400;
line-height: 63px; /* 161.538% */
letter-spacing: -1.365px;
text-transform: uppercase;
}





.carousel {
    background-color: #F3F3F3;
   
}
.carousel h4{
    color: #202020;
font-family: Bebas Neue;

font-style: normal;
font-weight: bold;
line-height: 63px; /* 126% */
letter-spacing: -0.75px;
text-transform: uppercase;
}



.parent-circle{
    display: flex;
  
   
    background-image: url('/images_luxury/circle.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
     padding: 10px;
    margin-left:10px; 
    position: relative;
    border: none;
   
}

.parent-circle:hover{
   background-color: rgb(125, 121, 121);
   border-radius: 21px;

}

.card{
    background: #F3F3F3;
    border: none;
}

.product-card{
   background-color: white;
    margin:10px;
}
.product-image{
    text-align: center;
}

.product-card .description{
    color: #202020;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 125% */
    letter-spacing: 0.16px;
}
.product-card .price{
    color: #202020;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 100% */
}
.product-card .short{
    color: #7D7D7D;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
    text-transform: uppercase;
}




.product-content button,.black-in-grey-btn{
    border-radius: 10px;
background: #B9C2D9;
color: #202020;
font-family: Roboto;
font-size: 17px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 117.647% */
letter-spacing: 0.17px;
width: 90%;
border: none;
padding:8px 20px;



}


.contact-form{
    background: rgba(185, 194, 217, 0.30);
}

.contact-form h4{
    color: #202020;
font-family: Bebas Neue;

font-style: normal;
font-weight: bold;
line-height: normal;
letter-spacing: -1.365px;
text-transform: uppercase;
}

.contact-form,.contact-form label {
    color: #202020;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 30px; /* 187.5% */
letter-spacing: 0.48px;
}

.contact-form label{
    font-weight:500 ;
}

.contact-form input{
    border-radius: 10px;
background: rgba(32, 32, 32, 0.50);
}

.socials{
    background-color: #D9C9B9;
}

.socials p{
    color: #202020;
font-family: Roboto;
font-size: 19px;
font-style: normal;
font-weight: bold;
line-height: normal;
text-transform: uppercase;
}
.social-icons{
    margin: 10px;
}

.social-icons img{
    margin:6px 5px;
}

.last{
    height:5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:20px;
}

.last p{
    color: #000;
margin-top: 10px;
font-family: Satoshi Variable;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;

}





